<template>
  <div class="nav-ex">
     <ol>
       <li><router-link to="/exmaple1">Exmaple 1: Style Sheet & Css</router-link></li>
       <li><router-link to="/exmaple2">Exmaple 2: Bootstrap</router-link></li>
       <li><router-link to="/exmaple3">Exmaple 3: Concept</router-link></li>
       <li><router-link to="/read">Read</router-link></li>
       <li><router-link to="/read">Read</router-link></li>
       <li><router-link to="/read">Read</router-link></li>
     </ol>
   </div>
</template>

<style>
.nav-ex a {
  font-weight: bold;
  color: #252424;
}
.nav-ex {
  text-align: left;
}
.nav-ex a.router-link-exact-active
{
  color: #42b983;
}
</style>