<template>
  <div class="exmaple1">
    <div class="text-center">Bootstrap</div>
    <div class="heading">Selector</div>
    <div id="div-id">Control with ID</div>
    <div class="div-class">Control with Class</div>

    <div class="heading">Text Style</div>
    <div class="">
      <div class="ex-text text-left">Left</div>
      <div class="ex-text text-center">Center</div>
      <div class="ex-text text-right">Right</div>
    </div>

    <div class="heading">Padding</div>
    <div class="ex-padding">
      <div class="item">item 1</div>
      <div class="item">item 2</div>
    </div>

    <div class="heading">Margin</div>
    <div class="ex-margin">
      <div class="item">item 1</div>
      <div class="item">item 2</div>
    </div>

  </div>
</template>

<style>
.exmaple1 a {
  font-weight: bold;
  color: #252424;
}
.exmaple1 {
  width: 60%;
  margin: auto;
  text-align: left;
}
.exmaple1 a.router-link-exact-active {
  color: #42b983;
}

#div-id {
  color: antiquewhite;
  background-color: #42b983;
}

.div-class {
  color: #42b983;
  background-color: antiquewhite;
}

.heading {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ex-text {
  margin-bottom: 10px;
  background-color: antiquewhite;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ex-padding {
  background-color: antiquewhite;
}

.ex-padding .item {
  background-color: #42b983;
  padding: 10px 15px 10px 15px;
}

.ex-margin {
  background-color: antiquewhite;
}

.ex-margin .item {
  background-color: #42b983;
  margin: 10px 15px 10px 15px;
}
</style>