<template>
  <div class="exmaple3">
    <div class="text-center">Concept</div>

    <div class="heading">1. v-if</div>
    <p v-if="message">Has Message</p>

    <div class="heading">2. Loop</div>
    <div class="">Array</div>
    <ul>
      <li v-for="n in list" :key="n">{{ n }}</li>
    </ul>
    <div class="">Array of Object</div>
    <ul>
      <li v-for="user in users" :key="user.id">
        ID: {{ user.id }} - {{ user.name }}
      </li>
    </ul>

    <div class="heading">2. Handle Input</div>
    <p />
    <p>
      First Name: <input v-model="firstName" placeholder="Please enter..">
    </p>
    <p>
      Last Name: <input v-model="lastName" placeholder="Please enter..">
    </p>
    <p />
    <p>
      Your Name: {{ firstName }} {{ lastName }}
    </p>
    <p />
    <p>
      <button v-on:click="addUser">Add</button>
    </p>
  </div>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      message: 'Hello Vue!',
      list: [
        "A", "B", "C", "D"
      ],
      users: [
        {
          id: 1,
          name: 'John Doe'
        },
        {
          id: 2,
          name: 'Jane Doe'
        },
        {
          id: 3,
          name: 'Chuck Norris'
        }
      ],
      firstName: '',
      lastName: '',
    }
  },
  methods: {
    addUser: function () {
      this.users.push({
        id: this.users.length + 1,
        name: `${this.firstName} ${this.lastName}`
      })
    },
  },
}
</script>

<style>
.exmaple3 {
  width: 60%;
  margin: auto;
  text-align: left;
}
.heading {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}
</style>