<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/exmaple">Example</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
html {
  /* background-color: #252424; */
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #252424;
}

#nav {
  padding: 30px;
}

#nav a{
  font-weight: bold;
  color: #252424;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
