<template>
  <div>AAA</div>
  <!-- <test message="Ahoy!"></test> -->
</template>
<script>
  // import Test from './components/Test.vue'
  export default {
    // components: {
    //   Test
    // }
  }
</script>